$primary-font: "BreveSans", sans-serif;
$accent-font: "BreveText", sans-serif;
$headline-font: "BreveSlabTitle", sans-serif;
$cta-font: "Acto", sans-serif;
$icon-font: "Fontello";

$breve-display: "BreveDisplay", sans-serif;

$primary-color-1: #560d20;
$primary-color-2: #760626;
$primary-color-3: #98012e;
$primary-color-4: #962733;
$primary-color-5: #c6403d;
$primary-color-6: #8c2332;
$secondary-color-1: #765b3a;
$secondary-color-2: #876f4f;
$secondary-color-3: #b8a162;
$secondary-color-4: #ebd5ab;
$secondary-color-5: #c2b89d;
$secondary-color-6: #9f042d;
$secondary-color-7: #29282e;
$neutral-color-1: #000000;
$neutral-color-2: #18171e;
$neutral-color-3: #525252;
$neutral-color-4: #d1d1d2;
$neutral-color-5: #e0e0e0;
$neutral-color-6: #f9f9f9;
$neutral-color-7: #e9e9e9;
$neutral-color-8: #888888;
$neutral-color-9: #fefefe;
$neutral-color-10: #BAA8AD;
$accent-color-1a: #2f254d;
$accent-color-1b: #534779;
$accent-color-1c: #6d6191;
$accent-color-2a: #033b4a;
$accent-color-2b: #05637b;
$accent-color-2c: #2090ac;
$accent-color-3a: #506121;
$accent-color-3b: #7a9032;
$accent-color-3c: #9aa76f;
$accent-color-4a: #757575;

$accent-color-brand-1: #94404b;
$accent-color-brand-2: #811f2c;
$accent-color-brand-3: #66141e;
$accent-color-brand-4: #4d0b13;

$unit-accent-color-teal: #126379;
$unit-accent-color-purple: #544976;
$unit-accent-color-green: #586b2c;
$unit-accent-color-gold: #8c7846;
$unit-accent-color-grey: #535353;
$unit-accent-color-red: #960e33;

$link-accessibility-color-gold-dark: #765b3a; // #bda474 => #765b3a
$link-accessibility-color-gold-light: #8b6e4a; // #8b6e4a => #A58D5B
$link-accessibility-color-teal-dark: #033b4a; // #05637b => #033b4a
$link-accessibility-color-teal-light: #05637b; // #2090ac => #05637b

/* VARIABLES */

// colors
$primary-shade: #0678be;
$primary-light: tint-color($primary-shade, 37%);
$primary-dark: shade-color($primary-shade, 12%);
$accent-shade: #064771;
$accent-light: tint-color($accent-shade, 37%);
$accent-dark: shade-color($accent-shade, 12%);
// Reassign color vars to semantic color scheme
$red: #dc3545;
$yellow: #ffc107;
$green: #28a745;
$cyan: #17a2b8;
$white: #fff;
$gray-100: #f8f9fa;
$gray-800: #343a40;
// scss-docs-start theme-color-variables
$primary: $accent-shade;
$secondary: $primary-shade;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$brand-primary: $accent-shade;
$light: $gray-100;
$dark: $gray-800;
//$brand-success: $green;
//$brand-info: $teal;
//$brand-warning: $orange;
//$brand-danger: $red;
$brand-inverse: $primary-shade;
// Body
//
// Settings for the `<body>` element.
$body-bg: $white;
$body-color: $gray-800;
$inverse-bg: $primary-shade;
$inverse-color: $white;
// Links
//
// Style anchor elements.
//$link-color: $accent-shade;
$link-decoration: none;
//$link-hover-color: $accent-dark;
//$link-hover-decoration: underline;
// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;
// Responsive font sizes
$enable-responsive-font-sizes: true;
$enable-shadows: false;
$enable-gradients: false;
// Breadcrumbs (Works only on Bootstrap 5+)
// $breadcrumb-divider: quote(">");
$enable-caret: true;

// Custom DU Typography
$body-font-family: "BreveSans", sans-serif;
$body-font-size: 1.8rem;
$body-font-weight: 400;
$body-line-height: 1.5;
$body-color: #525252;
$body-text-align: null;
$body-bg: #fefefe;

// Sets default font size to a 10px base (works with Bootstrap 5+ and rem which we use)
$font-size-root: 10px;
$font-size-base: 1.8rem;
$font-weight-base: 400;
$line-height-base: 1.5;

// Add font smoothing if needed
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}