<div class="unit-sites-list" id="utility-sites-list" aria-expanded="false">
    <div class="unit-sites-list-wrapper">
        {% include "@du_bootstrap/misc/_unit-nav-back.twig" with {controls: "#sites-list"} %}
        <ul>
            {% for link in site_links %}
                <li>{{ link }}</li>
            {% endfor %}
        </ul>
    </div>
    {# {% include "@du_bootstrap/misc/_unit-nav-close.twig" with {controls: "#sites-list"} %} #}
</div>
