{% block alert %}
    {% include "themes/custom/du_bootstrap/templates/misc/alert.twig" %}
{% endblock %}
{% block audience_nav %}
    {% include "themes/custom/du_bootstrap/templates/misc/push-menu.twig" %}
{% endblock %}
<div class="{{ page_class }}" id="off-canvas-content" data-off-canvas-content>
    <div class="content-top">
        {# Universal admin tools like local task tabs, messages, etc can go here. #}
        {% block content_top %}
        {% endblock %}
    </div>
    {% block page_head %}
        {% embed "themes/custom/du_bootstrap/templates/misc/header.twig" %}
            {% block mega_nav %}
                {% include "themes/custom/du_bootstrap/templates/misc/mega-nav.twig" %}
            {% endblock %}
        {% endembed %}
    {% endblock %}
    {% block content %}
        {% include "themes/custom/du_bootstrap/templates/misc/node.twig" %}
        {% include "themes/custom/du_bootstrap/templates/misc/cards.twig" %}
    {% endblock %}
    {% block footer %}
        {% include "themes/custom/du_bootstrap/templates/misc/footer.twig" %}
    {% endblock %}
    <span id="du-loader" aria-hidden="true">
        <span class="icon-du-spin3 animate-spin"></span>
    </span>
</div>
