
<div class="off-canvas-content" id="off-canvas-content" data-off-canvas-content>
	<article id="main-content" role="main">

		<div class="row row-mw-120">
			<div class="col-lg-8 offset-lg-4 pull-up page-title-band">
				{% if page_title %}
				{% include "@du_bootstrap/navigation/headline.twig" %}
				{% endif %}
			</div>
		</div>

        {% if admission_steps %}
        	{% include "@du_bootstrap/misc/admission-steps.twig" %}
        {% endif %}

	</article>
</div>
