<footer>
    <div class="footer-site-level">
        <div class="container">
            <div class="row">
                {# First column - Logo #}
                <div class="col-md-6 col-lg-4">
                    {% if logo is defined and logo is not null %}
                        <div class="footer-site-level-logo">
                            {% include "themes/custom/du_bootstrap/templates/misc/logo.twig" with logo %}
                        </div>
                    {% endif %}
                </div>

                {# Second column - Info and Address #}
                <div class="col-md-6 col-lg-4">
                    {% if info is defined and info is not null %}
                        {% include "themes/custom/du_bootstrap/templates/misc/footer-site-level-info.twig" with info %}
                    {% endif %}

                    {% if address is defined and address is not null %}
                        {% include "themes/custom/du_bootstrap/templates/misc/footer-site-level-address.twig" with address %}
                    {% endif %}
                </div>

                {# Third column - Social and Links #}
                <div class="col-lg-4">
                    {% if social is defined and social is not null %}
                        {% include "themes/custom/du_bootstrap/templates/misc/footer-site-level-social.twig" with social %}
                    {% endif %}

                    {% if footerlinks is defined and footerlinks is not null %}
                        {% include "themes/custom/du_bootstrap/templates/misc/footer-site-level-links.twig" with footerlinks %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include "themes/custom/du_bootstrap/templates/misc/_unit-copyright.twig" %}
</footer>