<div class="hero-media">
    {%  block hero_video %}
        {% if hero_video %}
            {% include "themes/custom/du_bootstrap/templates/misc/video.twig" with hero_video %}
        {% endif %}
    {%  endblock %}
    {%  block hero_image %}
		{% if hero_image %}
			{% include "themes/custom/du_bootstrap/templates/misc/image.twig" with hero_image %}
		{% endif %}
	{%  endblock %}
    {% if hero_background %}<div class="hero-background{% if hero_image %} hero-overlay{% endif %}"></div>{% endif %}
</div>
{% if not hide_hero_caption %}
<div class="hero-media__caption" id="hero-media__caption"{% if not is_home %} data-bs-toggle="collapse"{% endif %}>
	<div class="row">
		{% if hero_caption %}
			<div class="col-12 offset-lg-4 col-lg-8">
                <div class="hero-media__caption__text">
					<a data-bs-toggle="collapse" href="#hero-media__caption">
						<p>{{ hero_caption|raw }}</p>
						<p class="hero-media__caption__toggler"><span class="visually-hidden">Toggle Caption</span><span class="icon-du-plus"></span><span class="icon-du-minus"></span></p>
					</a>
				</div>
			</div>
		{% endif %}
		{% if is_home %}
			<div class="col-12">
				{% if headline %}
					{% include "themes/custom/du_bootstrap/templates/navigation/headline.twig" with headline %}
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>
{% endif %}
{% if hero_title %}
    {% include "themes/custom/du_bootstrap/templates/misc/hero-media-title.twig" %}
{% endif %}
{% if hero_items %}
	{% include "themes/custom/du_bootstrap/templates/misc/hero-media-items.twig" with hero_items %}
{% endif %}
