<div class="show-hide-toggle">
    <a href="#">
        <span class="visually-hidden">Show / Hide Content Below</span>
        {% include "themes/custom/du_bootstrap/templates/misc/_du-icon.twig" with { "icon_name": "plus" } %}
        {% include "themes/custom/du_bootstrap/templates/misc/_du-icon.twig" with { "icon_name": "minus" } %}
    </a>
</div>