<div class="columns small-12 medium-4">
    <div class="stories-module__story">
        <div class="content" data-equalizer-watch="row">
            {% block story %}
                {{ story.src }}
                {% include "themes/custom/du_bootstrap/templates/navigation/headline.twig" with story %}
                {% include "themes/custom/du_bootstrap/templates/paragraph/paragraph.twig" with story %}
            {% endblock %}
        </div>
        <div class="story-cta">
            {% block button %}
                {% if(story.button.title) %}
                    <p>{% include "themes/custom/du_bootstrap/templates/misc/button.twig" with story.button %}</p>
                {% endif %}
            {% endblock %}
        </div>
    </div>
</div>
