<article {{ taxonomy_attributes }} id="main-content">
  <div class="row row-mw-120">
      <div class="col-lg-8 offset-lg-4 pull-up page-title-band">
          {% include "@du_bootstrap/navigation/headline.twig" with { "title": taxonomy_header, "type": "h1", "cssClass": "btm-divider" } %}
      </div>
  </div>
</article>
