<article{{ attributes|without('about', 'role') }} id="main-content" role="main">
    <div class="row row-mw-120">
        <div class="col-lg-8 offset-lg-4 pull-up page-title-band">
            {% block page_title %}
                {% include "@du_bootstrap/navigation/headline.twig" with {'title' : "This is the Page Title", 'type' : 'h1'} %}
            {% endblock %}
        </div>
    </div>
    <div class="row row-mw-120">
        <div class="col-12 col-lg-3 pull-up">
            {% block sub_nav_block %}
                {% include "@du_bootstrap/misc/sub-nav.twig" %}
            {% endblock %}
        </div>
        <div class="col-12 col-lg-8 offset-lg-1 intro">
            {% block page_overview %}
                {% include "@du_bootstrap/misc/page-overview.twig" %}
            {% endblock %}
        </div>
    </div>
    {% block page_content %}
         {{ content }}
    {% endblock %}
</article>
