{#
/**
 * @file
 * Default theme implementation to present a menu link entity entity.
 *
 * Available variables:
 * - menu_link_content: Menu link entity.
 * - show_item_link: Indicator for menu item link.
 *
 * @see template_preprocess_menu_link_content()
 *
 * @ingroup themeable
 */
#}

{% if content.children or content.is_expanded %}
  <div class="menu_link_content menu-dropdown menu-dropdown--links-only menu-dropdown-{{ content['#menu_level'] }} menu-type-default">
    <div class="menu-dropdown__sub-links">
      {{ content.children }}
    </div>
  </div>
{% endif %}

{% if show_item_link %}
  {{ link(menu_link_content.getTitle(), menu_link_content.getUrlObject()) }}
{% endif %}
{% if content and not content.children %}
  {{ content }}
{% endif %}
