{#
/**
 * @file
 * Theme override to display a mega nav region.
 */
#}
{% if content %}
  <div class="main-menu-contents pe-0 h-100 d-flex justify-content-end align-items-end">
    {{ content }}
  </div>
{% endif %}